@font-face {
  font-family: "DM-sans-regular";
  src: url("../Fonts/DMSans-Regular.eot");
  src: local("☺"), url("../Fonts/DMSans-Regular.woff") format("woff"),
    url("../Fonts/DMSans-Regular.ttf") format("truetype"),
    url("../Fonts/DMSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM-sans-medium";
  src: url("fonts/DMSans-Medium.eot");
  src: local("☺"), url("fonts/DMSans-Medium.woff") format("woff"),
    url("fonts/DMSans-Medium.ttf") format("truetype"),
    url("fonts/DMSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

body {
 height: 3461px;
  width: 100%; 
 margin: 0 auto; 
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: "DM-sans-regular";
  color: #000;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background-color: #dce9e2;
  height: 72px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.headerScroll{
  background-color: #00856f;
}
.container__header {
  margin: 0 auto;
  width: 1120px;
}
.container {
  width: 1120px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 72px;
}
.logo {
  margin-right: 256px;
  background-image: url(../Img/Logo.png);
  height: 18px;
width: 139px;

}
.logoOnScroll {
  background-image: url(../Img/logoOnScroll.svg);
}
.mobile__menu{
  display: none;
}
.menu {
  margin-right: 195px;
}
.menu__list {
  display: flex;
  gap: 35px;
}
.menu__item {
  height: 72px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 72px;
  color: #00856f;
  height: 100%;
}
.menu__link:focus {
  border-bottom: 1px solid #00856f;
  color: rgba(0, 133, 111, 1);
  font-weight: 700;
}
.menu__link__scroll {
  color: #F7F9F9;
}
.menu__link__scroll:focus {
  border-bottom: 1px solid  #F7F9F9;
  color: #F7F9F9;

}
.button {
  border-radius: 20px;
  border: 1px solid #00856f;
  background-color: #dce9e2;
  width: 190px;
  min-height: 37px;
  cursor: pointer;
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #00856f;
  text-transform: uppercase;
  transition-duration: 1s;
}
.button:hover {
  border: 1px solid #00856f;
  color: #dce9e2;
  background-color: #00856f;
}
.buttonScroll{
  border: 1px solid #dce9e2;
  color: #dce9e2;
  background-color: #00856f;
}
.main {
  margin: 0 auto;
  width: 100%;
  padding-top: 72px;
}
/* -------welcome---------- */
.section__welcome {
  width: 100%;
  height: 607px;
  background-color: #dce9e2;
}
.welcome__container {
  margin: 0 auto;
  width: 1120px;
  height: 100%;
  display: flex;
  position: relative;
}
.welcome__container__left {
  height: 100%;
  width: 58.5%;
  padding-top: 84px;
  display: flex;
  flex-direction: column;
  position:relative;
}
.popUp{
  width:400px;
  height:250px;
  top:100px;
  left: calc(50% - 200px);
  position: relative;
  position:fixed;
  background-color:#00856f;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  display: none;
}
.popUpDagger{
  position: absolute;
  right: 10px;
  top: 20px;
  width:30px;
  height:30px;
}

#send{
  color:white;
  background-color: #00856f;
  border-radius: 10px;
  padding: 10px;
  border:1px solid white;
}
.popUp input{
  margin:25px;
  width:250px;
  /* height:50px; */
  font-size: 16px;
  border-radius: 15px;
  padding: 0 10px;
}
.welcome__span {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #00856f;
  letter-spacing: 0.11em;
  margin-bottom: 20px;
}
.welcome__heading {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  color: #212529;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: 1.4px;
}
.welcome__text {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #495057;
  margin-bottom: 32px;
}
.welcome__button_green {
  height: 52px;
  width: 263px;
  border-radius: 150px;
  border: 1px solid #00856f;
  cursor: pointer;
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffff;
  background-color: #00856f;
  text-transform: uppercase;
  transition-duration: 1s;
  display: flex;
  align-items: center;
}
.welcome__button__img {
  margin-left: 33.67px;
  margin-right: 18.74px;
}
.welcome__button__lower {
  width: 267px;
}
.welcome__button_green:hover {
  background-color: rgba(0, 69, 58, 1);
  border: 1px solid rgba(0, 69, 58, 1);
}
.welcome__container__right {
  height: 100%;
  width: 40%;
}
.info__container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: absolute;
  width: 1120px;
  height: 210px;
  left: 0px;
  top: 499px;
  background: #fffaf1;
  border: 1px solid #dce9e2;
  border-radius: 6px;
  margin: auto;
}
.info__body {
  padding-top: 35px;
}
.info__column {
  display: flex;
  width: 1120px;
  padding-left: 12px;
  padding-top: 23px;
}
.info__item {
  text-align: center;
  width: 383px;
  min-width: 380px;
  height: 83px;
  border-right: 1px solid rgba(0, 133, 111, 1);
}
.last__item {
  margin-left: -23px;
  border: none;
}
.item-info__nomer {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #212529;
}
.item-info__text {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #00856f;
}

/*----------service-----------*/
.section__service {
  background: #f7f9f9;
  width: 100%;
  height: 1082px;
  padding-top: 64px;
}
.service__container {
  padding-top: 201px;
  height: 100%;
  width: 1120px;
  margin: 0 auto;
  background-color: #f7f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__span {
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}
.title {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #212529;
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  width: 1180px;
}
.service__title {
  height: 104px;
  width: 497px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 40px;
}
.service__list__box {
  min-height: 207px;
  width: 347px;
  border: 1px solid #dce9e2;
  border-radius: 6px;
  background: #ffffff;
  padding-top: 24px;
  padding-left: 24px;
  transition-duration: 0.1s;
}
.service__list__box:hover {
  transform: scale(1.2);
}
.service__circle {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #dce9e2;
  margin-bottom: 13px;
}
.service__checked {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: 11px;
  width: 4px;
  border-bottom: 2px solid #00856f;
  border-right: 2px solid #00856f;
}
.list__title {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #212529;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
}
.block-text__text {
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #495057;
  line-height: 150%;
}

/*---------about-us------------*/
.section__about_us {
  width: 100%;
  height: 734px;
  background-color: #fffaf1;
}
.about_us__container {
  height: 100%;
  width: 1120px;
  margin: 0 auto;
  display: flex;
}
.about__us__container__left {
  padding-top: 160px;
}
.about__us__container__right {
  height: 100%;
  width: 50%;
  padding-top: 202px;
  padding-left: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__us__span {
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
}
.about__us__title {
  text-align: left;
  height: 104px;
  width: 434px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.9px;
}
.about__us__text {
  height: 168px;
  width: 573px;
  padding-top: 23px;
  font-family: "DM-sans-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
}
/*---------contacts------------*/
.section__contacts {
  background: #ffffff;
  width: 100%;
  height: 699px;
  display: flex;
}
.contacts__sections {
  margin: 0 auto;
  height: 100%;
  width: 1120px;
  display: flex;
}
.contacts__container__left {
  display: flex;
  flex-direction: column;
  padding-top: 198px;
  width: 48%;
}
.contacts__title {
  text-align: left;
  padding-bottom: 40px;
  letter-spacing: 1px;
}
.block-text__addrres {
  margin-left: 3px;
}
.contacts__img__envelope {
  display: flex;
  padding-bottom: 10px;
}
.contacts__img__rectangle {
  height: 30px;
  width: 30px;
  position: relative;
}
.lower__button {
  margin-top: 25px;
  line-height: 18px;
  width: 267px;
}
.location__inside {
  position: absolute;
  top: 7px;
  left: 6px;
}
.brief__inside {
  position: absolute;
  top: 2px;
  left: 0px;
  padding-bottom: 40px;
}
.contacts__container__right {
  padding-top: 160px;
  width: 52%;
  margin-left: 16px;
}

/*---------footer------------*/
.footer {
  width: 100%;
  height: 268px;
  background: #00856f;
}
.container__footer {
  height: 100%;
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__container__left {
  padding-top: 80px;
}
.footer__text {
  padding-top: 23px;
  font-family: DM-sans-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fffaf1;
}
.footer__text2 {
  padding-top: 15px;
}
.footer__container__right {
  display: flex;
  padding-top: 103px;
  margin-right: -23px;
}
.facebbokImg {
  width: 11px;
  height: 20px;
  margin: 20px;
}
.instImg {
  width: 24px;
  height: 24px;
  margin: 19px;
  margin: right -3px;
}
.youtubeImg {
  width: 24px;
  height: 24px;
  margin: 20px;
}

.popUp_legend {
  color: white;
  margin:0px;
}

